<div class="rm-wrapper">
  <div class="rm-main">

    <div class="rm-card">
      <div class="rm-card-image"><%= image_tag @card.printings.first.image_url %></div>
      <h2 class="rm-card-name"><%= @card.name %></h2>
      <div class="rm-card-oracle"><%= @card.oracle_text %></div>
    </div>

  </div>
</div>
