/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$breakpoint-mobile: 500px;

.rm {

  &-wrapper {

    padding: rem(20px 10px);

    @media (min-width: $breakpoint-mobile) {
      padding: rem(20px 40px);
    }
  }

  &-main {
    display: table;
    height: 100vh;
    margin: 0 auto;

    @media (min-width: $breakpoint-mobile) {
      width: 460px;
    }
  }

  &-card {
    display: table-cell;
    text-align: center;
    vertical-align: middle;

    &-oracle {
      //text-align: left;
    }
  }
}
